## Part 1: Preprocessing

In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [17]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [18]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [19]:
# Create a list of at least 10 column names to use as X data
X_columns = ['Age', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement',
             'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked', 'TotalWorkingYears', 'WorkLifeBalance']

# Create X_df using your selected columns
X_df = attrition_df[X_columns]

# Show the data types for X_df
X_df.dtypes

Age                        int64
DistanceFromHome           int64
Education                  int64
EnvironmentSatisfaction    int64
JobInvolvement             int64
JobLevel                   int64
JobSatisfaction            int64
NumCompaniesWorked         int64
TotalWorkingYears          int64
WorkLifeBalance            int64
dtype: object

In [20]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

In [21]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_df = X_df.astype(float)
X_df

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,TotalWorkingYears,WorkLifeBalance
0,41.0,1.0,2.0,2.0,3.0,2.0,4.0,8.0,8.0,1.0
1,49.0,8.0,1.0,3.0,2.0,2.0,2.0,1.0,10.0,3.0
2,37.0,2.0,2.0,4.0,2.0,1.0,3.0,6.0,7.0,3.0
3,33.0,3.0,4.0,4.0,3.0,1.0,3.0,1.0,8.0,3.0
4,27.0,2.0,1.0,1.0,3.0,1.0,2.0,9.0,6.0,3.0
...,...,...,...,...,...,...,...,...,...,...
1465,36.0,23.0,2.0,3.0,4.0,2.0,4.0,4.0,17.0,3.0
1466,39.0,6.0,1.0,4.0,2.0,3.0,1.0,4.0,9.0,3.0
1467,27.0,4.0,3.0,2.0,4.0,2.0,2.0,1.0,6.0,3.0
1468,49.0,2.0,3.0,4.0,2.0,2.0,2.0,2.0,17.0,2.0
1469,34.0,8.0,3.0,2.0,4.0,2.0,3.0,2.0,6.0,4.0

In [22]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=42)

# Scale the training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [23]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit the encoder to the training data
encoder.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_department_encoded = encoder.transform(y_train[['Department']])
y_test_department_encoded = encoder.transform(y_test[['Department']])

In [24]:
# Create a OneHotEncoder for the Attrition column
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit the encoder to the training data
encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition_encoded = encoder.transform(y_train[['Attrition']])
y_test_attrition_encoded = encoder.transform(y_test[['Attrition']])

## Part 2: Create, Compile, and Train the Model

In [25]:
# Find the number of columns in the X training data.
num_cols = X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(num_cols,))

# Create at least two shared layers
shared_layer_1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer_2 = layers.Dense(32, activation='relu')(shared_layer_1)

In [26]:
# Create a branch for Department
# with a hidden layer and an output layer
department_branch = layers.Dense(16, activation='relu')(shared_layer_2)
# Create the hidden layer
department_hidden = layers.Dense(16, activation='relu')(shared_layer_2)

# Create the output layer
department_output = layers.Dense(3, activation='softmax', name='Department')(department_hidden)

In [27]:
# Create a branch for Attrition
# with a hidden layer and an output layer
attrition_branch = layers.Dense(16, activation='relu')(shared_layer_2)
# Create the hidden layer
attrition_hidden = layers.Dense(16, activation='relu')(shared_layer_2)

# Create the output layer
attrition_output = layers.Dense(2, activation='softmax', name='Attrition')(attrition_hidden)

In [28]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'Department': 'categorical_crossentropy', 'Attrition': 'categorical_crossentropy'},
              metrics=['accuracy'])

# Summarize the model
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer_1       │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_6 (Dense)     │ (None, 64)        │        704 │ input_layer_1[0]… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_7 (Dense)     │ (None, 32)        │      2,080 │ dense_6[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_9 (Dense)     │ (None, 16)        │        528 │ dense_7[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_11 (Dense)    │ (None, 16)        │        528 │ dense_7[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ Department (Dense)  │ (None, 3)         │         51 │ dense_9[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ Attrition (Dense)   │ (None, 2)         │         34 │ dense_11[0][0]    │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 3,925 (15.33 KB)

 Trainable params: 3,925 (15.33 KB)

 Non-trainable params: 0 (0.00 B)

In [34]:
# Train the model
history = model.compile(optimizer='adam',
              loss={'Department': 'categorical_crossentropy',
                    'Attrition': 'categorical_crossentropy'},
              metrics={'Department': 'accuracy',
                       'Attrition': 'accuracy'})

In [35]:
# Evaluate the model with the testing data
loss, department_loss, attrition_loss, department_accuracy, attrition_accuracy = model.evaluate(X_test_scaled, [y_test_department_encoded, y_test_attrition_encoded], verbose=0)

In [36]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {department_accuracy:.4f}")
print(f"Attrition Accuracy: {attrition_accuracy:.4f}")

Department Accuracy: 0.8342
Attrition Accuracy: 0.4946

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. The accuracy between both of these are too far apart to determine if this is a good way of getting the informaiton needed. 
2. I chose to use the activation function "softmax" becuase I was comapring two different classes. 
3. I think that this model could be improved with the addition of a little more data.